body {
    margin: 0;
    height: 100vh;
            }
div {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#F0F0F0;
    height: 100%;
    font-family: sans-serif;
    color: #888888;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
            }