.www{
    position: fixed;
    z-index: 1;
    top: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 51px;
    margin-right: 60px;
    background-color: #FFFFFF;
}
.headershop{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    gap: 7px;
}
.logo{
    padding-top: 9px;
    width: 36.5px;
}
.market-name{
    padding-top: 18px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
}
.heart-bigbusket{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-top: 18px;
}
.bigbusket .heart{
    position: relative;
    margin-top: 24px;
}
.heart__count{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: #DA4A0C;
    border-radius: 50%;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #FFFFFF;
    top: 27px;
    right: 125px;
}
.heart__count:hover{
    background: #DA4A0C;
    cursor: pointer;
}
.heart__count:active{
    background: #A93A09;
}
.bigbusket .bigbusket__img{
    position: relative;
}
.bigbusket-round{
    display: none;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #DA4A0C;
    border-radius: 50%;
    top: 27px;
    right: 50px;
}
.bigbusket-round:hover{
    background: #DA4A0C;
    cursor: pointer;
}
.bigbusket-round:active{
    background: #A93A09;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 27px;
    right: 50px;
}
.bigbusket-count{
    position: absolute;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #FFFFFF;
    top: 28px;
}
.breadcrumbs{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 8px;
    gap: 4px;
    margin-left: 50px;
    margin-right: 50px;
    font-style: normal;
    font-weight: 400;
    font-family: sans-serif;
}
.divider{
    width: 1500px;
    border: 1px solid #010541;
    margin-top: 0;
    margin-bottom: 0;
}
.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    margin: 0 50px 0 50px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}
.foto-devices{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    padding-right: 0;
    height: 387px;
}
.foto-devices__foto{
    height: 387px;
    margin: 0;
}
.body{
    max-width: 1500px;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}
.characteristics{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    gap: 100px;
}
.characteristics__name{
    margin: 0;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: 700;
}
.characteristics__list{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.square-images{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
    gap: 10px;
}
.square-images:hover{
    background: #F2F2F2;
    cursor: pointer;
}
.square-images:focus{
    border: 2px solid #F36223;
}
.square-images:active{
    border: 2px solid #A93A09;
}
.config-name{
    margin: 0;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: 700;
}
.config-list{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.button-name{
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: sans-serif;
    font-weight: 500;
    font-style: normal;
}
.button-name_selected{
    border: 2px solid #F36223;
}
.button-name:hover{
    background: #F2F2F2;
    cursor: pointer;
}
.button-name:focus{
    border: 2px solid #F36223;
}
.button-name:active{
    border: 2px solid #A93A09;
}
.devicecharacteristic{
    margin-bottom: 30px;
}
.devicecharacteristic-list{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 500;
}
.devicecharacteristic-name{
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: 700;
    color: #000000;
}
.list{
    margin: 0;
    padding-left: 10px;
    padding-bottom: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
}
li::marker{
    color: #888888;
    font-size: 28px;
}
.description-name{
    margin: 0;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: 700;
}
.description-paragraph{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.description-paragraph__content{
    margin-top: 15px;
    margin-bottom: 15px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 420px;
    height: 957px;
}
.price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}
.price-like{
    display: flex;
    gap: 210px;
}
.old-price{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
svg{
    fill:#888888;
}
svg:hover{
    stroke: #F36223;
    stroke-width: 3px;
    cursor: pointer;
}
svg:active{
    stroke:#A93A09;
    stroke-width: 3px;
}
.price-discont{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #888888;
}
.discount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    background: #F36223;
    border-radius: 500px;
    color: #FFFFFF;
}
.new-price{
    font-family: sans-serif ;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}
.important{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 275px;
}
.delivery{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    gap: 10px;
    align-self: stretch;
    width: 380px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}
.busket{
    display: flex;
    gap: 15px;
    border: 0;
    background: #F36223;
    border-radius: 4px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    width: 380px;
    height: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
.busket:hover{
    background: #DA4A0C;
    cursor: pointer;
}
.busket:active{
    background: #A93A09;
}
.busket::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/busket.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.advertaising-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 420px;
    height: 642px;
}
.ads{
    font-family:sans-serif;
    color: #888888;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
a{
    color:#008CF0 ;
    text-decoration: none;
}
a:hover{
    color: #F36223;
    cursor: pointer;
}
a:active{
    color: #A93A09;
}
iframe{
    border: 1px dashed #888888;
}
.review{
    width: 880px;
    margin-left: 50px;
}
.review-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.headername{
    display: flex;
    gap: 10px;
}
.reviewname{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}
.reviewcount{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}
.review-section{
    display: flex;
    gap: 30px;
}
.foto-author{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    flex-shrink: 0;
}
.review-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}
.review-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.review-author{
    margin: 0;
    font-size: 20px;
}
.review-star{
    height: 30px;
    width: 30px;
}
.review-parametrs{
    gap: 10px;
}
.review-parametr{
    margin: 0;
    margin-top: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.review-devider{
    border: 1px dashed #888888;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 170px;
}
.table{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #888888;
    width: 880px;
}
.comparison-name{
    margin: 0;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: 700;
}
th{
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
}
tr{
    padding: 10px;
    border-right: 1px solid #888888;
}
td{
    padding: 10px;
    border-right: 1px solid #888888;
}
tr:hover{
    background-color: #F2F2F2;
}
.add-review{
    gap: 15px;
    margin-top: 60px;
    padding-left: 170px;
}
.form{
    display: flex;
    flex-direction: column;
    border-color: transparent;
    border: 0;
    padding: 0;
}
.first-row{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}
.input1{
    width: 500px;
    padding: 0;
    border: 0;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #888888;
}
.input1::placeholder{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color:#888888;
    font-family: sans-serif;
}
.input1:hover{
    border: 2px solid #000000;
}
.errors{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.name-error{
    display: none;
    height: 25px;
    background-color: #F36223;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    font-family: sans-serif;
    padding-top: 10px;
    text-align: center;
    width: 524px;
    margin-top: 0;
    margin-bottom: 0; 
}
.score-error{
    display: none;
    height: 25px;
    background-color: #F36223;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    font-family: sans-serif;
    padding-top: 10px;
    text-align: center;
    width: 166px;
    margin-top: 0;
   
}
.name-error.visible{
    display: block;
}
.score-error.visible{
    display: block;
    margin-left: 567px;
   
}
.input2{
    width: 143px;
    padding: 0;
    border: 0;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #888888;

}
.input2::placeholder{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color:#888888;
    font-family: sans-serif;
}
.input2:hover{
    border: 2px solid #000000;
}
.textarea{
    padding: 0;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #888888;
    flex-grow: 1;
    height: 190px;
    width: 710px;
    resize: none;
    margin-top: 30px;
    margin-bottom: 30px;
}
.textarea::placeholder{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color:#888888;
    font-family: sans-serif;
}
.textarea:hover{
    border: 2px solid #000000;
}
.submit-review{
    border:0;
    background: #F36223;
    border-radius: 4px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 20px;
}
.submit-review:hover{
    background: #DA4A0C;
    cursor: pointer;
}
.submit-review:active{
    background: #A93A09;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#F2F2F2;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    align-self: stretch;
}
.footer-content{
    padding: 30px 0;
}
.footer-up{
    padding: 30px 0;
}
@media (min-width:1024px) and (max-width:1499px){
    .header{
        margin-left: 15px;
        margin-right: 15px;
   }
    .breadcrumbs{
        margin-left: 15px;
        margin-right: 15px;
   }
    .name{
        margin-left: 15px;
        margin-right: 15px;
   }
    .foto-devices{
        margin-left: 15px;
        margin-right: 15px;
        height: 272px;
   }
    .characteristics{
        margin-left: 15px;
        margin-right: 15px;
        gap: 40px;
   }
    .review{
        margin-left: 15px;
        width: 594px;
   }
    .model-comparison{
        display: none;
   }
    .add-review{
        padding-left: 0;
   }
    .sidebar{
        margin-right: 15px;
   }
    .foto-devices__foto{
        height: 272px;
        margin: 0;
   }
    .foto-author{
        height: 100px;
        width: 100px;
   }
    .review-star{
        height: 20px;
        width: 20px;
   }
    .review-devider{
        margin-left: 135px;
   }
    .textarea{
        width: 572px;
   }
    .first-row{
        width: 594px;
   }
    .footer{
        margin-left: 15px;
        margin-right: 15px;
   }
    .name-author{
        width: 440px;
        border: 1px solid #888888;
   }
    .input1{
        width: 420px;
   }
    .input2{
        width: 70px;
   }
    .divider{
        width: 1024px;
   }
}
